$mobile-screen-xs: 480px;
$mobile-screen-sm: 670px;
$mobile-screen: 768px;
$desktop-screen-base: 1024px;
$desktop-screen-sxga: 1280px;
$desktop-screen-hd: 1440px;
$desktop-screen-uhd: 1920px;
$desktop-screen-4k: 2560px;
$desktop-screen-1500: 1500px;
