/* stylelint-disable color-function-notation */
// monotone
$white: #fff;
$black: #000;
$dark-gray: #111;
$platinum-gray: #797979;
$gray-173: #adadad;
$primary-black: #17191c;

// theme based
$primary: #3a98b9;
$danger: #ff0303;

// Black
$black-footer: #111;
$black-333: #333;
$black-4b: #4b4b4b;
$black-6b: #6b6b6b;
$black-60: #606060;
$black-51555d: #51555d;

// Gray
$gray-dark: #797979;
$gray-999: #999;
$gray-71: #717171;
$gray-ba: #bababa;
$gray-a1: #a1a7b5;
$gray-e8ebf2: #e8ebf2;
$gray-747a86: #747a86;
$gray-f9fafb: #f9fafb;
$gray-f6f7f9: #f6f7f9;
$gray-d2d6e0: #d2d6e0;
$gray-d9: #d9d9d9;
$gray-a2a9b6: #a2a9b6;
$gray-e8ebf2-30: rgba(232 235 242 / 30%);
$gray-af: #afafaf;
$gray-dark: #797979;
$gray-a3: #a3a3a3;
$gray-a5: #a5a5a5;
$gray-5a: #5a5a5a;
$gray-e8: #e8ebf2;
$gray-e2: #e2e2e2;
$gray-de: #dedede;
$gray-8f9: #8f96a3;
$gray-davy: #51555d;
$gray-e8e: #e8ebf2;
$gray-3d4148: #3d4148;
$gray-c6ccd7: #c6ccd7;
$gray-b1b7c4: #b1b7c4;
$gray-73: #737373;
$gray-a2: #a2a2a2;
$gray-ab: #ababab;
$blue: rgba(10, 50, 85, 100%);
$blue-0aa: #0aa0d2;
$blue-1ba: #1ba1c7;
$blue-43a: #43a4fd;
$blue-0a7: #0a74ff;
$blue-2ec: #2ec7ff;

// gradients
$footer-join-us-background-gradient: linear-gradient(90deg, #0751ec 0%, #00e8e7 100%);
$live-game-linear-gradient: linear-gradient(92.04deg, #5ecfff -9.87%, #6bfac4 102.79%);
$black-russian: #212122;
$map-pop-up-background: rgba(255, 255, 255, 11%);
$map-grid-background-hover: rgba(255, 255, 255, 20%);
$spun-pearl: #a5a5a6;

// home
$border-linear-color: linear-gradient(to right, #5ecfff, #6bfac4);

// map-module
$map-primary-color: linear-gradient(to left, #00f8c4, #18a5ff);

// orange
$orange: #f5921e;

// green
$green: #a5d300;
$green-59e: #59e387;

// cyan
$cyan: #02c6de;

// red
$red-c00: #c00;
$red-cb2d1e: #cb2d1e;
$field-error: #ef5d5d;

// yellow
$yellow: #fb0;
